<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    

</head>


<body>
<div class="content">
    <h2>
        Gerbera polievac ultra 3001
    </h2>
    <br>
    <a href=# id="o_f">
        <button id="turn_button" class="btn btn-primary" style="background-color:{{color}}">
            on/off watering
        </button>
    </a>
    <a href=# id="mode">
        <button id="mode_button" class="btn btn-primary" value="ON" style="background-color:#2f7527">
            Outdoor mode
        </button>
    </a>
    <br>
    <br>
    <div class="form-group">
        <select class="form-control" style="width: 15%;" id="city_select">
            {% for city in cities %}
                <option>{{city}}</option>
            {% endfor %}
        </select>
    </div>
    <h5 class="label label-info">soil moisture: <span id="label_moist"></span></h5>
    <br>
    <br>
</div>
</body>


<script type=text/javascript>
    var city;
    function makeRequest(method, url) {
        return new Promise(function (resolve, reject) {
            let xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    resolve(xhr.response);
                } else {
                    reject({
                        status: this.status,
                        statusText: xhr.statusText
                    });
                }
            };
            xhr.onerror = function () {
                reject({
                    status: this.status,
                    statusText: xhr.statusText
                });
            };
            xhr.send();
        });
    }

    setInterval(async function() {
        let moist = await makeRequest('GET', '/moisture');
        moist = JSON.parse(moist);
        $('#label_moist').text(moist.moisture);
    }, 1000);

    $(function() {
        $('#city_select').bind('click', async function() {
            if($('#mode_button').val() == "ON"){
                let new_city = $('#city_select').val();
                if window.city != new_city{
                    await makeRequest('GET', '/set_city?city='+new_city);
                    window.city = new_city;
                }
            }
        });
    });

    $(function() {
        $('a#o_f').bind('click', async function() {
            let color = await makeRequest('GET', '/on_off');
            color = JSON.parse(color).color;
            $('#turn_button').css('background-color', color);
        });
    });

    $(function() {
        $('a#mode').bind('click', async function() {
            let response = await makeRequest('GET', '/change_mode');
            color = JSON.parse(response).color;
            state = JSON.parse(response).state;
            console.log(color)
            console.log(state)
            $('#mode_button').css('background-color', color);
            if(state == "OFF"){
                $('#city_select').hide();
            }
            else{
                $('#city_select').show();
            }
            $('#mode_button').val(state);
        });
    });
    
</script>
</html>
